:root {
    /* Colors */
    --color-primary: #be185d;
    --color-primary-hover: #9d174d;
    --color-secondary: #7f66db;
    --color-background-start: #faf5ff;
    --color-background-end: #f3f4f6;
    --color-surface: #ffffff;
    --color-text-primary: #be185d;
    --color-text-secondary: #4b5563;
    --color-note-text: var(--color-text-primary);
    --color-border: #e5afce;

    /* Chart Colors */
    --color-chart-1: #e93e86;
    --color-chart-2: #5c69f4;
    --color-chart-axis-text: #be185d;
    --color-chart-axis-grid: #e5afce40;

    /* Status Colors */
    --color-success-bg: #f0fdf4;
    --color-success-border: #22c55e;
    --color-success-text: #15803d;

    --color-error-bg: #fef2f2;
    --color-error-border: #ef4444;
    --color-error-text: #b91c1c;

    /* Fonts */
    --font-heading: 'Inconsolata', monospace;
    --font-body: 'Inconsolata', monospace;
    --font-nav: 'Comfortaa', cursive;

    /* Nav */
    --nav-bg: linear-gradient(to bottom, #eff6ff, #fdf2f8);

    /* Theme Switcher */
    --color-switcher-bg: #fdfeff;
    --color-switcher-border: #9eb3d6;
    --color-switcher-text: #61799e;
    --color-switcher-button-text: #61799e;
    --color-switcher-button-hover: #1e293b;
}