/*https://nextjs.org/docs/pages/building-your-application/optimizing/fonts#with-tailwind-css*/

.head {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

.text {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}